<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | aggregated folds</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <a href="https://www.wvallen.com/">photoblog</a> | 
    <a href="https://wvallen.tumblr.com/">everyday</a> | 
    <a href="https://30s.wvallen.com/">30s</a> | 
    <a href="https://www.wvallen.com/txt/">text</a> | 
    <a href="https://vallen.me" target="_blank">about</a>
  </header>

  <nav>
    <a href="/">home</a>
    <a href="https://vallen.me" target="_blank">about</a>
  </nav>

  <main class="content">
    {{ content | safe }}
  </main>
</body>
</html>
